* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/wallpaper.jpg); 
    background-size: 1366px 657px;
    z-index: -1;
}

.pop {
    background-color: rgb(238, 76, 76);
    opacity: 0.5;
    height: 100vh;
    padding-top: 80px;
    padding-left: 10px;
    font-family: 'Russo One', sans-serif;
}

.menu {
    width: 100vw;
    height: 70px;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    position: fixed;
    color: rgb(238, 76, 76); 
    box-shadow: 0px 0px 10px black; 
    z-index: 2;
}

.menu a {
    text-decoration: none;
    color: rgb(238, 76, 76);
    padding-left: 4px;
}

.menu a > h2 {
    margin-right: 100px;
}

.menu h2 {
    width: 150px;
    font-family: 'Russo One', sans-serif;
    padding-left: 20px;
    font-size: 2em;
    margin-bottom: -30px;
    margin-top: 15px;
}

.menu ul {
    text-decoration: none;
    margin: 0;
    margin-left: 100px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: right;
    /*display: flex;
    justify-content: space-around;*/
}

.menu li {
    list-style: none;
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
}

.menu_ul a {
    text-decoration: none;
    color: rgb(238, 76, 76);
    transition: background-color 0.4s, color 0.4s ;
    padding: 10px 20px;
    padding-bottom: 23px;
    padding-top: 24px;
}

.menu_ul a:active,
.menu_ul a:hover {
    color: whitesmoke;
    background-color: rgb(238, 76, 76);  
}